@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    margin: 0;
    width: 100%;
    font-family: "Inter", sans-serif;
}

.bg-auth-back {
    background: linear-gradient(
        144.23deg,
        rgba(209, 204, 244, 0.69) -8.57%,
        #e6cece 94.27%
    );
}

.auth-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
